<footer class="footer-wrapper">
    <div class="footer-container container">
        <div class="footer-column three columns" id="footer-widget-1">
            <div id="text-5" class="widget widget_text greennature-item greennature-widget">
                <div class="textwidget">
                    <a href="/"><img src="/images/logo_white.png" style="width: 150px;" alt="" /></a>
                </div>
            </div>
        </div>
        <div class="footer-column three columns" id="footer-widget-2">
            <div id="text-9" class="widget widget_text greennature-item greennature-widget">
                <h3 class="greennature-widget-title">Contact Info</h3>
                <div class="clear"></div>
                <div class="textwidget"><span class="clear"></span><span class="greennature-space"
                        style="margin-top: -6px; display: block;"></span> Addis Ababa, Ethiopia


                    <span class="clear"></span><span class="greennature-space"
                        style="margin-top: 10px; display: block;"></span>

                   

                    <span class="clear"></span><span class="greennature-space"
                        style="margin-top: 10px; display: block;"></span>

                    <i class="greennature-icon fa fa-envelope-o"
                        style="vertical-align: middle; color: #fff; font-size: 16px; "></i> greenethiopia@gmail.com
                </div>
            </div>
        </div>
        <div class="footer-column three columns" id="footer-widget-3">
            <div id="gdlr-recent-post-widget-5"
                class="widget widget_gdlr-recent-post-widget greennature-item greennature-widget">
                <h3 class="greennature-widget-title">Join our Mission</h3>
                <div class="clear"></div>
                <div class="greennature-recent-post-widget">
                    <div class="recent-post-widget">
                        <div class="recent-post-widget-thumbnail">
                            <a href="#"><img src="upload/shutterstock_294481373-150x150.jpg" alt="" width="150"
                                    height="150" /></a>
                        </div>
                        <div class="recent-post-widget-content">
                            <div class="recent-post-widget-title"><a
                                    href="https://forms.gle/TDSSqaN149751dgp7">Volunteer</a></div>
                            <div class="recent-post-widget-info">
                                <div class="blog-info blog-date greennature-skin-info"><i class="fa fa-clock-o"></i><a
                                        href="https://forms.gle/TDSSqaN149751dgp7">Form</a></div>
                                <div class="clear"></div>
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>

                    <div class="clear"></div>
                </div>
            </div>
        </div>
        <div class="footer-column three columns" id="footer-widget-4">
            <div id="gdlr-recent-portfolio2-widget-6"
                class="widget widget_gdlr-recent-portfolio2-widget greennature-item greennature-widget">
                <div id="gdlr-recent-post-widget-5"
                    class="widget widget_gdlr-recent-post-widget greennature-item greennature-widget">
                    <h3 class="greennature-widget-title">Learn More</h3>
                    <div class="clear"></div>
                    <div class="greennature-recent-post-widget">
                        <div class="recent-post-widget">
                            <div class="recent-post-widget-thumbnail">
                                <a href="#"><img src="upload/shutterstock_294481373-150x150.jpg" alt="" width="150"
                                        height="150" /></a>
                            </div>
                            <div class="recent-post-widget-content">
                                <div class="recent-post-widget-title"><a href="/about">About Us</a></div>
                            </div>

                        </div>
                        <div class="recent-post-widget">
                            <div class="recent-post-widget-thumbnail">
                                <a href="#"><img src="upload/shutterstock_294481373-150x150.jpg" alt="" width="150"
                                        height="150" /></a>
                            </div>
                            <div class="recent-post-widget-content">
                                <div class="recent-post-widget-title"><a href="/contact-us">Contact Us</a></div>
                            </div>

                        </div>

                        <div class="clear"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clear"></div>
    </div>

    <div class="copyright-wrapper">
        <div class="copyright-container container">
            <div class="copyright-left">
                <a href="facebook.com/officialgreenethiopia "><i class="greennature-icon fa fa-facebook"
                        style="vertical-align: middle;color: #bbbbbb;font-size: 20px"></i></a> <a
                    href="instagram.com/greenethiopia"><i class="greennature-icon fa fa-instagram"
                        style="vertical-align: middle;color: #bbbbbb;font-size: 20px"></i></a>
                        <a href="/login"><i class="greennature-icon fa fa-user"
                            style="vertical-align: middle;color: #bbbbbb;font-size: 20px"></i></a>
            </div>
            <div class="copyright-right">
                Developed by<a target="_blank" href="https://www.eshidigital.com"> Eshi Digital</a> </div>
            <div class="clear"></div>
        </div>
    </div>
</footer>


</div>
<!-- body-wrapper -->

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
</script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
</script>

<script type='text/javascript' src='js/jquery/jquery.js'></script>
<script type='text/javascript' src='js/jquery/jquery-migrate.min.js'></script>
<script>
    var ms_grabbing_curosr = 'plugins/masterslider/public/assets/css/common/grabbing.html',
        ms_grab_curosr = 'plugins/masterslider/public/assets/css/common/grab.html';
</script>
<script type='text/javascript' src='plugins/superfish/js/superfish.js'></script>
<script type='text/javascript' src='js/hoverIntent.min.js'></script>
<script type='text/javascript' src='plugins/dl-menu/modernizr.custom.js'></script>
<script type='text/javascript' src='plugins/dl-menu/jquery.dlmenu.js'></script>
<script type='text/javascript' src='plugins/jquery.easing.js'></script>
<script type='text/javascript' src='plugins/fancybox/jquery.fancybox.pack.js'></script>
<script type='text/javascript' src='plugins/fancybox/helpers/jquery.fancybox-media.js'></script>
<script type='text/javascript' src='plugins/fancybox/helpers/jquery.fancybox-thumbs.js'></script>
<script type='text/javascript' src='plugins/flexslider/jquery.flexslider.js'></script>
<script type='text/javascript' src='plugins/jquery.isotope.min.js'></script>
<script type='text/javascript' src='js/plugins.js'></script>
<script type='text/javascript' src='plugins/masterslider/public/assets/js/masterslider.min.js'></script>
<script type='text/javascript' src='plugins/jquery.transit.min.js'></script>
<script type='text/javascript' src='plugins/gdlr-portfolio/gdlr-portfolio-script.js'></script>


<script>
    const currentTime = new Date();

    const timeValue = new Date(document.querySelector(".date-eraser").getAttribute("date"));
    const dateEraser = document.querySelector(".date-eraser");
    const timeContainer = document.querySelector(".time-container");
    if (currentTime < timeValue) {
        dateEraser.classList.add("clear");
        timeContainer.classList.replace('bg-secondary', "bg-success")
    }
</script>



<script>
    (function ($) {
        "use strict";

        $(function () {
            var masterslider_d1da = new MasterSlider();

            // slider controls
            masterslider_d1da.control('arrows', {
                autohide: true,
                overVideo: true
            });
            masterslider_d1da.control('bullets', {
                autohide: false,
                overVideo: true,
                dir: 'h',
                align: 'bottom',
                space: 6,
                margin: 25
            });
            // slider setup
            masterslider_d1da.setup("slider_1", {
                width: 1140,
                height: 800,
                minHeight: 0,
                space: 0,
                start: 1,
                grabCursor: false,
                swipe: true,
                mouse: false,
                keyboard: true,
                layout: "fullwidth",
                wheel: false,
                autoplay: false,
                instantStartLayers: false,
                mobileBGVideo: false,
                loop: true,
                shuffle: false,
                preload: 0,
                heightLimit: true,
                autoHeight: false,
                smoothHeight: true,
                endPause: false,
                overPause: true,
                fillMode: "fill",
                centerControls: true,
                startOnAppear: false,
                layersMode: "center",
                autofillTarget: "",
                hideLayers: false,
                fullscreenMargin: 0,
                speed: 20,
                dir: "h",
                parallaxMode: 'swipe',
                view: "basic"
            });



            $("head").append(
                "<link rel='stylesheet' id='ms-fonts'  href='http://fonts.googleapis.com/css?family=Montserrat:regular,700%7CCrimson+Text:regular' type='text/css' media='all' />"
            );

            window.masterslider_instances = window.masterslider_instances || {};
            window.masterslider_instances["5_d1da"] = masterslider_d1da;
        });

    })(jQuery);
</script>

<script>
    $(document).ready(function () {
        $("#show_hide_password a").on('click', function (event) {
            event.preventDefault();
            if ($('#show_hide_password input').attr("type") == "text") {
                $('#show_hide_password input').attr('type', 'password');
                $('#show_hide_password i').addClass("fa-eye-slash");
                $('#show_hide_password i').removeClass("fa-eye");
            } else if ($('#show_hide_password input').attr("type") == "password") {
                $('#show_hide_password input').attr('type', 'text');
                $('#show_hide_password i').removeClass("fa-eye-slash");
                $('#show_hide_password i').addClass("fa-eye");
            }
        });
    });
</script>
</body>

<!--  16:08 GMT -->

</html>