<%- include('header') -%>
<%- include('nav') -%>

<div class="greennature-page-title-wrapper header-style-5-title-wrapper">
    <div class="greennature-page-title-overlay"></div>
    <div class="greennature-page-title-container container">
        <h1 class="greennature-page-title">Media</h1>
        <span class="greennature-page-caption">Green Ethiopia</span>
    </div>
</div>
<!-- is search -->
<div class="content-wrapper">
    <div class="greennature-content">

        <!-- Above Sidebar Section-->

        <!-- Sidebar With Content Section-->
        <div class="with-sidebar-wrapper">
            <div class="with-sidebar-container container">
                <div class="with-sidebar-left twelve columns">
                    <div class="with-sidebar-content twelve columns">
                        <section id="content-section-1">
                            <div class="section-container container">
                                <div class="portfolio-item-wrapper type-classic-portfolio" >

                                   

                                    <div class="portfolio-item-holder  greennature-portfolio-column-2">
                                        <div class="greennature-isotope filter-container" data-type="portfolio" data-layout="masonry">
                                            <div class="clear"></div>
                                            <div class="four columns class1">
                                                <div class="greennature-item greennature-portfolio-item greennature-classic-portfolio">
                                                    <div class="greennature-ux greennature-classic-portfolio-ux">
                                                        <div class="portfolio-thumbnail greennature-image"> <a href="https://www.youtube.com/watch?v=zWA6PY_cs8M&ab_channel=ArtsTvWorld"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAWEAAACPCAMAAAAcGJqjAAAAn1BMVEX///8jeaojeqn//v8jeav///0YdagHcaa30OCxzd5toMBAjLUkeKv9//8Ab6
                                                            UdeKnp8vd2qcfy9/pUlbvY5u7i7PMAcafN3+rl8PYAa6Ngm7/w9vnC1+VNj7epx9oie6iMtM+gwdaDsMzT4uwAZqAygbCXudI7hbJ9qsinw9jF2+hhl7uGss5cm70zgbK41eNJkbd4q
                                                            8cAYp+PudFpo8KC62DUAAAfe0lEQVR4nO1djX+ayNNfVthFdFlEEBVQ0UOMSX9tn/T//9uemVkwICbx2ib27pz7NJf4AsuX2XmfgbE73elOd7rTP5qcWy/g30uOAddhg1uv5N9LA+Yo
                                                            +KFuvY5/LQHvDgZ3gD+SnDu6H0pHrxJ6NFlFp1dQLt8x/z00cNRECGHZY/gxKmLA1XHUXe39PnJYIewx57YFIGtZPg5DhoIZkL9D/DsIuLUSts3H3CIaC2kfEgBeDZy7ffw7CGAsNWH
                                                            L4T9kZNsSYjpMgY/vgvg30RKkhG21yRayWoWXZbFSYHc4d/CvpwHLJDCw3cXY0pLvU2Txc4wHzsBBXXjH+FoCYXuQY6tHthZ8E/SCFQrEShiyu4y+noBH1QYMtTOQbRIW/yvCs48Dsslo6
                                                            t4hvpqMM5dMpRBncgIht0Een38jzIXwe6/e6T2KC/DrhBjrLhsDH+douwE18bd5JbjtJ3d197cI97wKdoU34oCy1TEthH1IUbU1Ki+cCm6J6R3gnyO1W3nclyCW7ZNgBkfPRRfE8PCArXx
                                                            gb7lCrXfr5f5jCFm4DkYgJfuplpq/YDyW0+D0UYeNQGRrKyS473QlkaDFWITJd4RxkXOhG3kMbl45dJpPsh0HQSL2t13xH0jgBKu3U3GDWhaY3b8rSl++WG7SQx43snePr4v0Ht9sk1
                                                            PjFsY7t3j+Mc1HVaktzcsqn3pPxTCJjRxAYaGaTycHS+oxxis4IPq/pBEjygNBLSY3u5g/k0BmDuLVJC8tCbavEFrbWgPG8FMIKXVZPW4fkjSsURwYkOPnHITFmKN1rHnRbIIA5LDNo
                                                            7s50aWjp9GvsDFQ2Zhj/GT4jsFNlnI93XxN8cMYvaTgWjisfHRGAGJ7djCqDewJAUzt3cXEiYDz5suFqI0Dm5+5b42LYY/HWviLapNQ0AeZGHn2OAWvmu6DqKLa6phIbuvdvcbCEMbSo5G
                                                            wzuNnr5Et7MrLUqqjUGhbKMCYnGguyoReZUFlIxOjI6Iw2vbfJpCeYSWsVzj3IjPbQoww1QHim2I8yq0wOGRb43HGlAJcE9+y/DmKd/Du/vO+h8P2KEqvRxj/jYVfbWL8OoAIcmFlCW1b
                                                            XMs9HZE9CVt7ePvetQL//QTbfCrQcXhN/DY/zkkL7mUArhqgHJgfxgJfFc+EaFiBPRFRcO4/H46HbbwUhjftE5PaZKQhIWsCmGBn1GbcCyeDtJDTocEPI8OVxNf8DWaSWCYscWAoiA/L/z
                                                            jEwIA7iRURBBrYtgDnjOfLw4ObJXFq0FFpnGTu6uDlHA1mTN1xdDQAY10E9WFUgZUVlj+hUMZW2hYyceb7xU0v8OaEhu2wBO8MeBi5tJpuV1EYXuY7pcLAffYqS2BcAjG2tKw2lHsGV
                                                            CP0QGx5QOEbluPZM3wlk8DLd4o3I41VPT+KJK63PRliNQeDeYDehGqyy0HkTkqUGShXuC2rImSU/lTIuZa/wQ8NhRbw0k4L778tJpqyPxWk9d+ouBBKZMtBjSmZXCbSruqERjT0Sh+9Zm
                                                            B+yUEek7ORrME4nm3wI48CLAsnrsTjeT7vTkingDDw7ytOgwqzQ4UeHRjCOs8Uyd/5EiCWBXw5KnUeItB5+pkL/8cQMq+RE8oBWd1sdBP5GZhoO1CQLS1UlJaYTWKKH6sNMPbMhVu0lzJ
                                                            DlVcGr53kP06msqTPvoStck4R49SdSlR8QuzN54do1QG2g5HIQdX5PL7B6v85FAZxFO2SY+a6x2QXRXEQNukh8okxWaSip0oixph6BtqNhEZYM8l3LJDijvBlUkG22niPeUmhy1ntgPBq+
                                                            ujt3SSkcIODZT7I00FRgbAQ+klhNGIO4jkHhp7KJ3DvZPTuuf4T5AwwE1eHaYJj4ZWSwvG2bscsaqsZ3iqX+4yY0zH/lJsDxrKkZEeYy9lEoanmKG+R3fK6/hwy9XwYU9jtc66RXd+JsAGglfc
                                                            QpU1HmEqWiP4BjbPQk2BQsO1iyFbwL66eb3x5fwKRuTBInnItTMB3/Ea8DRC2OLdtLa384KZ1IlQdpyBRpmhUhJ7QIIRnHkvAbXb95a0v7w8gdHv3uV/XqL0CbzvMNsZPgZDWvv6yagRGN
                                                            vKFhZVraulXim1krBbPwMf/6fx+bZCF2RLDDbbVSAf79ANzoiR8wQzjHHnX/CUwX4qJJ5AYOYHsYDxeigmIDjVZHFg427Nqyx7844XTfnbg+FaBaodaBsJh3qmw5BTNJGkBsrUsc+/7
                                                            s5tEcUNR4hZPk2VVcTFDvw6kQ+lllI0On8sFSAoWLsHj2FTMW7LCjmN0rBUVBJjSFvQBBx+ekSZvCcNbaFnepL9nYCp6VpWvTbCsJWgBt5n0K2+Vxa+GFsIoGx5y20eGPiU+Ym9hZxi
                                                            H5+G8jLKKFRUb+dkpClIHMciA+eDrcwhd8P3VLXYNETJUVoJdQKm2Fx7m4Ajrb5uvtcs7qOuuT4gYR7pZcjzcTOEgYIJMMfHBjvlfYEoElceeimjE9o9qkbPJAd4Kvo1ik6cOk+QTij
                                                            Qdp05khWkQ3CIGBQZwOBEvwrchIe28iDFmY/Zz5zusbpRxqKW8rgEM58kmL6Uv8xV8LX3GuHAsd6kOH9Vmf1xkyaIKwN/zrR1+PC1yTRGiDyYCN15tvTyvquFHn61LuHsAoHgkTykkF
                                                            A2Yu5jJsjh5YgN18ipOOaMe1a9F7kQvFuUemOVYgVvn5soLJsEk2k/BC0nYV+2P0LVOn8sZSJWHD0W4NtOzw6jWyvKTEcaopMN2pWixLrV/Cn04U/0UY8M4Zo+dDXU+fNzk/uxpzkDL
                                                            RWxbRPvNbhnlu9VfO7b6q8ScUjRBU4R7ww8uDILNFW3WJw3OPxthqj7DYomuxSvKp16oxmlCmcQUINF27qrYeo/TaY40ffQOz8Uwm6cm/RTuDpW1D9hxmjjLdHNMJlEVlkOwjr05U7u
                                                            JLSXoz0Cxj20MG7DosBaN/OM3QBivbiuttgwGy/apLrTs9H06AxOxUNFw4+VrsH8p90x7T4zRjiAD2R5521WC+kRlud6zNE/ip2OSDL9mhz1bcpex5HGxED/cwIjyj+XhlAvOm8u7Ac
                                                            IYeYz9lzQ+6jexMcqN3j9bbrQ6VDN/Jkxag0rZMNWvhYkFzaT0iRYL68cwUizcVw9skx3jNAyGu8282jM1rP7K94k5uvrgwRUOm3PrBPAtEEYgC2ksX8ppjoUXNcDWDUaNvxevPPAt6
                                                            sr3WitayLh6XeWP3mRTDN0MaVg8H7xlXlajpZsG2eF4DNDoCL8eD1FYjPI9mdbqXJ5/DM3bxWK3kBKwSz3UAtweUxDHzl6scmW6aumPZDPVUrR6vcjRw3LX/TCJ5peMzCBKhpvRspgf
                                                            58YiVW5cfHtA+ySMhnsPbuUnFBjP2zboTRBW1BMAN3oM8qEsFFlmxrpV2LiBbsFxosFha1e2jQHc6lBkDbKOqYtviW0VEikw3o6mPBCUjhuku+z5R7lY+L5cHD6DiW+NMAKTVtKm+qh
                                                            qSwLYaWQjabZwt61INPA281ZeEYVmUopjBEmtsVQQ74bFdom2fVlhMmQzjAe1GZ1me+8RBIqhw6dklm6NMCXp04kGG+Dbam4EhKoDBuTVPkyBec1YibrQXcjykDQt4/jBkxOdJsVhWc
                                                            GxpD+D4x3cJMKuhEFkallA6xw7yaRPiRHcGuGGguC0vwcEmULsdweJwQpLE8RjrBaU1YYcXkbJOKcJVYS7h8na941JIarDsK4bYrviy9MuxagLVsdFK7hhy+1+eIw+qwho3jZEb4iwi
                                                            S80LEWhqDB7tMXJkx5T7VQ5IUPXoTDVoObjNCqWlSWlBssNRPmyaKJw4HSM8lUYPu8oVqni3WYVhNE21wvJR59UozLHANatEaaqB3aK0w6ofuqYy5Onh/WYoAerOouhiM+NVgvdQy5I
                                                            kHCsFVy6RrhiqevTaPHl6LAkjxO8LyqKvgfD8hAxFQ+XWn9Sjcqc/wEIq1P5DhEquNTzaaSEzU9m76FOFyPA9b2ATT+TM5MT0TPpDU+uSrSvFv4ELevtMowP8TFKjrtDOIrYZjF6mLP
                                                            PK9oO/gSEG3q56KhsgpkmYAzK7cSbNa9T4y0VU2GuTojpPqDyK8yVHD1rRp4Li/NDyPJ5EX9dRU/ZJqhWbL6UNhqF5xD/nNZzOv9rfm39GfCWEd8g/Mq53lvCb1LMWNr3EmuzaZTdNj
                                                            69SQkDlq4ebSnGZgqbLeylkc/4EYW5KJETx7vcY2xTqGlUgAkXLVehBMTdKg/7yyUbsdYFKk3AM9wXK/cY11H+AbZUntvPDqubcBz6rZ5wQYmqATN/B7yv6ZrD4FdIVztO08szOEUJK
                                                            d/ktFtQzLmc3zAtEbs6zILGNgc/eTNnjU2myBtJPNRr5g6A71FSDfyAgmRhUfpCcrMVN39tQaDPWLxJnlMvqELrmNo8Joe5t0q8XLqE6AErYUQd6pD62/5otOKFIXpOq8vJGdQSbKBa
                                                            dmDQzixckBIOhb7xuGHysJ1WZVmOltsim9ObnWXi7yrqzzb6u+RgA0azHpzPEdRdc3QSuOGBh9HWsQ0Y21zIRzdkTUIz2JdirMVTih8PlouNYkHpsq2bbJmM82z4VxCX0rTP9HiYDMS
                                                            4GHEshGmkJ8cEqy5/0B655GWH7jIfVaP8ezbAnpHafHSCyMXu7CpL1z0eLkcn+rJjtROQTCjogqfFQJbmo+0urDn5hLDaTJ4O3q/qaCxwaFYkxJJ8hEFLMYW5xA4ObmMfrl4eFSUzEZ
                                                            1wVWGarjoSFHG+wMp3r2LsMcoOjGcPVZpXYTwlJr5YkBxNSnAf4SrHeKWEM43Rg2ufuqqvH8Enx6JPjvFT8SVgJoPtBIWHBf0CMxppz+NQvjZka7iZR2LNbCm0zc3NoFoF+Cd0jgPP2
                                                            qf03HkWRKNfTvU9+KZMQvtTzHO0XS+HRhuYnhqQD6TNcHPjMoYVmBVaYq8XdiwCd8Or2cJlUaWyCfMe1V9F/H9LVsvBNsJmOkjkUWzJtqyO7OQmJytH7vm2BZanYg3TLSyqENOFg+HU
                                                            F7UMswQgfM7Dyj+ZF2ACoV0+f5wJkiV4T206H30AOGg7b9YLJ44PYT4cRdnm1/AdUMEZRoAfj71NCbJgKkysU3LUf3UhMcjmHKMb1NiM7LnS8hGToRyU2nDE3CUreDq1gv3Fwh8MaoR
                                                            73Qnd9UiL5Zw5HVdbTXULQJy3EBSlFuuXl1Z9Hg5lDSAyq17HLCvPcjydkz6nzNSWDljhgs7+sku3v4YwppXcyfKwii4VZ5MMwSGu/BDVEWS85vC7Lbit5YFklMOKmShBfoP1u2JsOW
                                                            GrnLl+li0urw2PEE8Ff/U6iUDoV24rYA10lLwdkVpHq5EYg4I+vSQR4a6mc1P5wsKWcMHgefXO4q0gs8ikdwDhx6XH0qdfRLjFuIMLDcnhRPqm7IQGXKIVxdxyhsH72ZAZubVfaAHSF
                                                            kSFhiOAcllVbCc85a1es3RcLdquwWvXKzesnRWZ6O53wIxHxnzh4TcRBrkr9jh08tXzosBYa39jiqRZBFKCLbPsFxGue8EdHGDp9OazIuTBbq5q2TDAAH2AgoNbMierGTTuAQwKjOSr
                                                            Cpuck0XCilKBF8Nem1/l7Ml+eLuxGmcgcznpaB5hnYlZ/EzrpTOErQ7CsCmmLFlbr99ZbrSAQOWMm/UHqtso/61FLT3l3f6NIp1sWNJ0CemlRmoAwFwWiOVQ8AizVDErrCCosDTwop/
                                                            BNvqMjwgWTnR2zdiNfsrQeu8wPkeE+TnC/rq2Brm1U6MXEdHoOnNuUzVimZAAqBfULuppcjj8mP9OgN8mtBXDpdToWyO30pWrrQ9ok+uznk0BcK8KWCESNvm/qG8G05+bDivyGlleW2
                                                            ucr9v7XHgvDX2I8OvwwldB03UHdnLhKt+uDyy+s2fR/gKciIzh+h6vm+NYQqd1RCCaf/IE/FoPC/0VvQ5sbZ7MuB6RvfskAFcW6mnIVn7GBinrW8EI1f5MEhpk9Zhr2yBxhtGWOS0ef
                                                            gNhjgiv26+tEWHZKDoRBH7rPTibFtXSW+Zgf7dOjOoO5b856ydXFj5rTH7Y2kpYbTNucWr8Dv+KS2pUjPylYkOwKS7PQXBAyRlYW4RuHPhp4KyBM3FmHQObrRqI30QYJIrwzxDmiPDC
                                                            eORi5rF9p9jJEstjECqVxsfnkX45NiAfoteFactBE//4FAq9GSFDVrDZuXuwiv0h+dkTAXcexLAPJprrbw2c/Q0Wm4rvNr6y3GaUBlTpDtNYZwhzEdVxkjcQxpkBPzarOODdySRiyFw
                                                            grDpw43D08p65dexUKXJE8Wc1wobeGJjyjs+b+JKOBM3WFlOjXB3a8DhUAtexE/YMrWPP32PP4rK3v3DBigZ9dAAEx6JbMRcBjnYnymtXir3Kw+Z2ae2ZowRnMqYT+TnK9s2TZw1TyV
                                                            SQOOYo+j+f4EYupWn9mtaMCcIAzDZRGrw98Osxk51jQ1Ii+IVbT2ZEGyQM5WF3dHu+PLDNsOzYvTaXtWd4AWGb7DUxTeqoZ3BuDw9bR27rOUt3cKSKWKOCdfmJ1sOJAK5EYoB+LJsBK
                                                            PAKaOmxPlKxXwQWxQOGZiz/KyK86BmRJFV2XXvLlk9NHP/lVCBJeBdKrk3A+gLCJEbk1oSJHPYWwuCxdMRw1pdhBUK8SD5bvSE5WMmCIRd/e/JjE2GT1UYOC7CwHYO/5wo/whETftI7
                                                            Bqq9StstVaQ5zdlVLZPDQBVU7fYH8M+/0JsXeRjwp+1OdbhdKXGO8LTdMLiOu/FnSgi4YL3dbMBL5uOjOTan+xsDWrYAh0cRb2pwmEAyb4QPeyyyRK/WHRl1qNssrEV22dh02LErrS
                                                            1NNQUXedgCgGu3lL3Nw6pqI6yTtqqgJAmuEH3m2/R+OKzgslFKCAtWIdtyZ8L0ngZ/Cl+eCj9Ey01ue1sNDlHa7asXxet6eiM6prGZW3rRlhCdIfRvSolRB+ENlnV06hUxWJop51YIt5nNoXmt4DrvTcAt0tqmiQdKjwUsOqgag6P1HYetZAsZLp6oH+viyeBmvCQ+kBYpLOASwuK5cyvflBLLTlQNxNngLI9CW0HdZH6nU3enna4G7LSxpfPQvHQQNk6eQajHJbyrclEGPezCaXtwv84D55WKV5TLw250kyZIX0AYl9CWpm/y8PeOqa1H0RmW5goHt1B0RG02zoQeW7Z/NHG+VIwRAliYK8QIOfxR+LveAZLOBUoXs6EX2QWNExSabZmNe+ICwuJM8b9prQ1b9jC4orr8yjqj1TF9g1NMbjJtXTV5dIrmBD5oOS4PdXfTMzC0HyM/FpKsYsCiN7YcDOoWwsDCLxGd/tngv2fRCW+KXR9hUL1L05l4ojekxACsQNxEdaM2+inSVCGoU6DfFD7fdughlQjlglaaGl8hqICfK5IjgOwUP/UkxePZF5152VY0wn3nmYJRN0KBRlQXYQrJ7ZganMnhV6WEA9Ks67HbXOdD9ERp+NmthMMZIctgr41NxsMAdxQoMFtsKf02FYKGHoDxXJ3XAnYkqy7Tdxz+tJOU43raQxhepERr+1tv8DDIA/CLzmL4Yy2qLdnufwi+pPNwYjaYAnnTulVpawymLSb4tQ12Feopn1vngtg7S2O+NnKsoU1H1+EtOZMS3JLueVHFWzw8wFDgeWYbY55+te9rjRvSnAqAxqBjjGmRYcEKJ46NfQvDuQp/ASe6Q6oTdzd35E1q6yUU3Me+poOznj0E5C0eBnYI847+5FQKwrktrHwf31T61kRB4UcMEmPgpC6D+CFQnNH7mUQT2VgXNFLboEgGUNIOvOvq/WqleQdhFNznCGuvJ8p7mdC2tYbOJzfjO09euV0fEkf/Hs1tuOETA8ie2JAQtnwzwFWxVOKTLs1Qn+eZZVJ2YaW1bhXRDtA2GLe35+h9sq1WDIODD3aO8IUQQtp+eOGl6tYdVhmNL6ZDhf8ta8plbkOUs8hokJUtN/SSQ6YaKDoT6DloW5ITqzw99lvtXWhm6E6CSHMbHME3SNtncE76CPdHYqXv9NM5bIfRCT6+gDDcRT2N2I3iEmZ5gDHHROiYdjlD0Mly0xWFVEGAWPUlgUpBQdyYC/C5bx0JiPz5TsFE5wMcs87nmk5EPW57D+EBTfR9LWUNZ7GK23jNhoxzgTQ7hc4Sqq4y0ew012MQlxgVfBAWzsg1ekiRtc97xQ5Nnvky2eu2SLXBMjtHWPe3c9p9xGmfhzGI9iT0RYjXGAu98VjUgGtMl+vqFA1Y6joCBH/PK7DWXHoZdJ7IXxocHXaUFy7p75DoIWyV506L09V0mOxcsQti9fgo9ekGn58IqyWcz8x/dmgoUYAhZ9TjeuZYNTaWJqoZWaTykZSwBfgcLwisXi/H+1mE7VF/gWGHyTkXlx6w6WBlrtZYjnVePIC2hSlIuUlwwgHxirlcUZ3chaF5KgJVbVNNmEHYYRtfeqdmSJATT78fYT3trXCAWZQ2wvLi5MK6+llbvfIMlEdc28Ftnmc4wHgDrGHM49OTmylCgclRRfFf22oQVtu8k1D0fhVh/eUcYfHlggBoR0ixtuTHhQtxTAN3ZgrEzxFGzs/D21hsIE0xlUSThs0rsT+2KHJJM3Mxl9sg3KlGcTCw9vsR9i4g/EO3DRCrdoW6RB0ayAXBasrPH+pL4rmVLftMwurMVWkt604l5IP9DK1j4RojcnlCuE/TX0MYLronJS7w5wDTxW2yq+ByHqWhaD+S1Opw5m7fZr5vI/1rX5jcfPKga7sU82CvIZy/XfH+PsQXEJ5cCIBmZ5XfbwdA6PvRppLUy9E92w1ImblVda0U1pJFgqbScGXG9FcfiXDfHr6AsHLisvs92O+9vrwXqtu7sVnhLCIkbjHKnhaKBa3GjQBr4nlWFz6T6g0t/bqU+HUe7svhCzzsqC/dE+n1my2/qu6bSLfS7hvSn04Dp9WH4FAujVI5TyYUP7ffQHjaufDmIUxvkBCdUmAMwfcR7hEmsrq3Bmz1N0xbEx/EW5DoF7sCwNaTmwczHVyUuQbXjCKMtP0awk4nk861515BnRKd6xAe4FjIrqOmJ9fYtpjFtblp/jKn+3ZzhFFvE7vUj68cAOC2fQ3CwCBXTX+e/H2EcWstzzw/HV9jeTl4vmY6AQri8vbPxXFYSaihQUTX4KKhdHncgMO+v1hRfEyVxu+SJ/4+D2PVju7GmPQ1ZgEqvFic7AnMAd4eYUwV0YU+1tX4D68jzNr1Phyj6e+SA85DC87rECZjp1OeZlFh27uEGfx0dDIo/hCE0biHXUWNFo4piLcxKnwhaIIxC75+abu6qs3yJ3iYTo257869sYzF8BYhD4ffGl2Hp1nfHmHlaZRaY5PLcajHyLLkRRGLW5C/DCa47gHlnVDGtXIYF5afVW4K711JjP0aYaVPLLzW1e0Rntcj77C2irT44S2E01y8dPtcJRp/FmGn69dx7EjavHsynAiqm1AbIjy9vS3hSmpMwocIM0riESICe1R7rhb2VlbixCE6v2b5P8vDjtMOM1FeWVzz+JVCvohhOPjtEV5itp3busQnNGPbjolkbpnTQ9ihTFJRD9LEIQQfibBiQavv3yQy8EGbbxHYIGl1CgDhF27i03WWFFaUEePCNHYAzDnOY8LLfk3o7abCtHppfk0G4WcRHvRqYymMmVBhcqe00jHNBWb056RzV+Qt2mVeSJFDhxcxtk6PXcWeYZuCBRf1Nk13LixB5SD+NXGVbtBe59cijEB+P0ua2pbWZlB4ewCMCRQrWvF+1jZALuRPPpUQwb0cU5t1s50cNcJBd2L/Cg8rE+98pj4j2X/gTJ9+FmF65MdStCf+0O9CfMnOxpsqp86G7ZadCqO1uGaBH0hodo7MJO5xXRZSP2fbFkPGLpc418U0waYUXFwzaM7r6Ku/wcMUYR2d9ZZSR7go88nzS7YeRIYzn8e7Yso1b1da6Js0LbYJzHPfDIiwdT16FPuQsGIwYa8JYjMpFsy8p7V5/PA79KOL8OhqHqbK7yDv9OE3yXstRKvOEhZUlWshRLdrxNa3fkgksONXE/UxddqMDLIE64gvZNj7FK626v10udfxfvs8rN/wW7B27lHwS3VF3QSR0nY3UbemySq3rieuW5rpbpfNUkEbS1leUYhrHvXx/hV8Eb+AMB5/Iux1d97EBYSt3qgWm/KgtzWHndq9QIRriaVwhF+xvWZ3mV6Q969g+Y6mewth05JR6Av517cR5mMun/6AlgMVNlJO1hWmoMCJLa+Jdg/MILX3xES3/e1vImxuYjySPRZ9B2HtU03eOwX6H09UcolZUOtlvZQ2vybYreqf73x2WQc8bXPl03rOTx05wDFLr0fMaDAc5hRX50/QsdaXEeb0z8YRZMxo5dsSSQl0+D8wQDKfWPplCpBB2KIYKFhWsP8nVyn8dFsaT7I2Jno8bNW3jeZUiMltfbmGlHnoBDYtuh91s2nu3Z5LM1PNIKwtM6NSC7/cz9mlSPQFmhdcChM3QxTPETZ3DI6KcyfR1nx3c30C4RQnibbU7KpA708RDWqiB6Hhs1fsmodxRKjU+cFMkLxm/5By+DrBZ2DoS3KYm+ZFsJNznNt3owdf9ggk3JDPxNhTrzhwv06KNUObd6vvy1G5BoQtnBb8fbVLGes9pPANoqNkz8uq5PjArA7CA0FDcqvlno56rS75cMI1RK67uzzJ8fecgpjvdLXBfM6CeN54vM51JnVNTY1tvMtc1+3UuA+GQ9dNmk6v+gmCv7byO93pTne6053udKc73elOd/p1+n/pitvKkSb8bwAAAABJRU5ErkJggg==" alt=""></a></div>
                                                        <div class="portfolio-classic-content">
                                                            <h3 class="portfolio-title"><a  href="https://www.youtube.com/watch?v=zWA6PY_cs8M&ab_channel=ArtsTvWorld"  >Arts TV</a></h3>
                                                            <div class="greennature-portfolio-info">
                                                                <div class="portfolio-info portfolio-tag"><span class="info-head greennature-title">Tags </span><a href="#" rel="tag">Environment</a><span class="sep">,</span> <a href="#" rel="tag">Renewable Energy</a></div>
                                                                <div class="clear"></div>
                                                            </div>
                                                            <div class="portfolio-excerpt">Ye Zembil Melse or We're Bringing Zembil Back is a collaborative campaign for a plastic-free Ethiopia by Global Shapers Addis Ababa, Green Ethiopia and Lem Ketema.
                                                                <div class="clear"></div><a href="#" class="excerpt-read-more">Read More</a></div><a class="portfolio-classic-learn-more" href="#">Learn More</a></div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="four columns class2">
                                                <div class="greennature-item greennature-portfolio-item greennature-classic-portfolio">
                                                    <div class="greennature-ux greennature-classic-portfolio-ux">
                                                        <div class="portfolio-thumbnail greennature-image"><img src="https://mytuner.global.ssl.fastly.net/media/tvos_radios/eja7tmxz5jzy.png" alt="" style="height: 190px;width: 200px;" /></div>
                                                        <div class="portfolio-classic-content">
                                                            <h3 class="portfolio-title"><a  href="#"  >Bisrat FM</a></h3>
                                                            <div class="greennature-portfolio-info">
                                                                <div class="portfolio-info portfolio-tag"><span class="info-head greennature-title">Tags </span><a href="#" rel="tag">African</a><span class="sep">,</span> <a href="#" rel="tag">Animals</a></div>
                                                                <div class="clear"></div>
                                                            </div>
                                                               <audio controls>
                                                                    <source src="./upload/audio/bisrat.mp3" type="audio/mpeg">      
                                                                </audio>   
                                                        </div>
                                                    </div>
                                                </div>  
                                            </div>
                                            <div class="four columns class3">
                                                <div class="greennature-item greennature-portfolio-item greennature-classic-portfolio">
                                                    <div class="greennature-ux greennature-classic-portfolio-ux">
                                                        <div class="portfolio-thumbnail greennature-image"><img src="https://i1.sndcdn.com/avatars-000036503561-43j0k7-t500x500.jpg" alt="" style="height: 190px;width: 180px;" /></div>
                                                        <div class="portfolio-classic-content">
                                                            <h3 class="portfolio-title"><a  href="#"  >VOA</a></h3>
                                                            <div class="greennature-portfolio-info">
                                                                <div class="portfolio-info portfolio-tag"><span class="info-head greennature-title">Tags </span><a href="#" rel="tag">Cleaning</a><span class="sep">,</span> <a href="#" rel="tag">Volunteer</a></div>
                                                                <div class="clear"></div>
                                                            </div>
                                                            <audio controls>
                                                                <source src="./upload/audio/voa.mp3" type="audio/mpeg">      
                                                               </audio>  
                                                       
                                                        <div class="clear"></div><a href="#" class="excerpt-read-more">Read More</a></div><a class="portfolio-classic-learn-more" href="#">Learn More</a></div>
                                                    </div>
                                                    </div>
                                                </div>
                                            </div>
                                         </div>
                                        <div class="clear"></div>
                                    </div>
                                   
                                <div class="clear"></div>
                            </div>
                        </section>
                    </div>

                    <div class="clear"></div>
                </div>

                <div class="clear"></div>
            </div>
        </div>
<%- include('footer') -%>