<header class="greennature-header-wrapper header-style-5-wrapper greennature-header-with-top-bar">
    <!-- top navigation -->
    <div class="top-navigation-wrapper">
        <div class="top-navigation-container container">
            <div class="top-navigation-left">
                <div class="top-navigation-left-text">
                    Phone : +251 92 914 3012      Email : greenethiopia@gmail.com </div>
            </div>
            <div class="top-navigation-right">
                <div class="top-social-wrapper">
                    <div class="social-icon">
                        <a href="facebook.com/officialgreenethiopia" target="_blank">
                            <i class="fa fa-facebook"></i></a>
                    </div>
                    <div class="social-icon">
                        <a href="https://www.linkedin.com/company/greenethiopia" target="_blank">
                            <i class="fa fa-linkedin"></i></a>
                    </div>
                    <div class="social-icon">
                        <a href="instagram.com/greenethiopia" target="_blank">
                            <i class="fa fa-instagram" aria-hidden="true"></i></a>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div id="greennature-header-substitute"></div>
    <div class="greennature-header-inner header-inner-header-style-5">
        <div class="greennature-header-container container">
            <div class="greennature-header-inner-overlay"></div>
            <!-- logo -->
            <div class="greennature-logo">
                <div class="greennature-logo-inner">
                    <a href="/">
                        <img src="/images/logo_white.png" alt="logo" style="width: 75%;margin-top: -30px;" /> </a>
                </div>
                <div class="greennature-responsive-navigation dl-menuwrapper" id="greennature-responsive-navigation">
                    <button class="dl-trigger">Open Menu</button>
                    <ul id="menu-main-menu" class="dl-menu greennature-main-mobile-menu">
                        <li class="menu-item menu-item-home current-menu-item page_item page-item-5680 current_page_item current_page_item " ><a href="/" aria-current="page"><i class="fa fa-home"></i>Home</a></li>
                         <li class="menu-item current-menu-item greennature-normal-menu"><a href="/about"><i class="fa fa-file-text-o"></i>About Us</a></li>
                        <li class="menu-item current-menu-item greennature-normal-menu"><a href="/campaigns"><i class="fa fa-file-text-o"></i>Campaigns</a></li>
                        <li class="menu-item current-menu-item greennature-normal-menu"><a href="/blogs"><i class="fa fa-file-text-o"></i>Blog</a></li>
                      
                        <li class="menu-item current-menu-item greennature-normal-menu"><a href="/media"><i class="fa fa-globe"></i>Media</a></li>
                        <li class="menu-item current-menu-item greennature-normal-menu"><a href="/contact-us"><i class="fa fa-globe"></i>Contact Us</a></li>
                        <li class="menu-item current-menu-item greennature-normal-menu"><a href="/login"><i class="fa fa-user"></i>Login</a></li>
                        <li><a class="action-ads-button small greennature-button " href="https://docs.google.com/forms/d/e/1FAIpQLSeNfldiKrTKesTdf3iCw09nDNDQ71H1oRDK4VIXTrHv05H1FQ/alreadyresponded" style="color: #6d5b1c;background-color: #fec428;margin-left: 20px;">Join Our Team</a>
                        </li>
                        </ul>
                        
                    </ul>
                </div>
            </div>

            <!-- navigation -->
            <div class="greennature-navigation-wrapper">
                <nav class="greennature-navigation" id="greennature-main-navigation">
                    <ul id="menu-main-menu-1" class="sf-menu greennature-main-menu"> 
                       <li class="menu-item menu-item-home current-menu-item page_item page-item-5680 current_page_item"><a href="/" aria-current="page"><i class="fa fa-home"></i>Home</a></li>
                       <li class="menu-item current-menu-item greennature-normal-menu"><a href="/about"><i class="fa fa-file-text-o"></i>About Us</a></li>
                       <li class="menu-item current-menu-item greennature-normal-menu"><a href="/campaigns"><i class="fa fa-file-text-o"></i>Campaigns</a></li>
                       <li class="menu-item current-menu-item greennature-normal-menu"><a href="/blogs"><i class="fa fa-file-text-o"></i>Blog</a></li>
                       <li class="menu-item current-menu-item greennature-normal-menu"><a href="/media"><i class="fa fa-globe"></i>Media</a></li>
                       <li class="menu-item current-menu-item greennature-normal-menu"><a href="/contact-us"><i class="fa fa-globe"></i>Contact Us</a></li>
                       <li class="menu-item current-menu-item greennature-normal-menu"><a href="/login"><i class="fa fa-user"></i>Login</a></li>
                    </ul>
                       <a class="action-ads-button small greennature-button " href="https://docs.google.com/forms/d/e/1FAIpQLSeNfldiKrTKesTdf3iCw09nDNDQ71H1oRDK4VIXTrHv05H1FQ/alreadyresponded" style="color: #6d5b1c;background-color: #fec428;margin-left: 20px;">Join Our Team</a>
                     
                  
                </nav>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</header>