<%- include('header', {title: "Blogs"}); -%>
<%- include('nav', { blogactive:"",campaignactive:"",useractive:"active"}); -%>

        <!-- End Navbar -->
        <div class="content">
          <div class="container-fluid">
            <% if(success){ %>
            <div
              class="alert alert-success alert-dismissible fade show mx-4 px-3"
              role="alert"
            >
              <%- success %>
              <button
                type="button"
                class="close"
                data-dismiss="alert"
                aria-label="Close"
              >
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <% }; %>
            <div>
              <a href="/admin/blogs" class="btn btn-primary active"
                >Back</a
              >
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="card">
                  <div class="card-header card-header-primary">
                    <h4 class="card-title">Create User</h4>
                    <p class="card-category">Fill the form</p>
                  </div>
                  <div class="card-body">
                    <form onsubmit="return userValidation(this);" action="/admin/users/create" id="users-form" method="POST"  class="needs-validation" enctype="multipart/form-data">
                      <div class="form-row">
                        <div class="form-group col-md-12">
                          <input type="text" name="name" class="form-control" id="name" placeholder="Full Name">
                        </div>
                      </div>
                      <div class="form-group">
                            <input type="email" name="email" class="form-control" id="email" placeholder="Email">
                      </div>
                      <div class="form-group">
                        <div class="form-row">
                          <div class="form-group col-md-6 col-sm-4">
                            <input type="text" name="password" class="form-control" id="password" placeholder="Password">
                          </div>
                          <div class="form-group col-md-6 col-sm-4">
                            <input type="text" name="repeatPassword" class="form-control" id="repeatPassword" placeholder="Confirm Password">
                          </div>
                      </div>
            

                    
                        <div id="file-error"></div>
                      </div>
                      <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
            <!-- Load more -->
            
          </div>
        </div>
        <%- include('footer'); -%>